---

---
<div class="heroBox relative text-center">
    <h1 class="md:fs-60 sm:fs-48 fs-36  line-relaxed ">Welcome to <span>AE TV</span></h1>
    <h2 class="md:fs-28 sm:fs-24 fs-18">Millions of movies, TV shows and people to discover</h2>
</div>