---
import Layout from "../layouts/Layout.astro";
import HeroDetails from "../components/heroDetails.astro";
import MovieList from "../components/MovieList.astro";
export const prerender = true;
---
<Layout title="Welcome to detail.">
  <main>
    <HeroDetails />
    <MovieList title="You May Also Like" label="upcoming movie" />
  </main>
</Layout>