---
import Layout from "../layouts/Layout.astro";
import MovieList from "../components/MovieList.astro";
import Hero from "../components/hero.astro";
export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <MovieList title="upcoming movie" label="upcoming movie" />
    <MovieList title="ahmed movie" label="ahmed movie" />
  </main>
</Layout>

