---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import MovieListPage from "../components/MovieListPage.astro";
---
<Layout title="Welcome to detail.">
  <main>
    <MovieListPage />
  </main>
</Layout>