---
import RightSide from "./RightSide.astro";
import LeftSide from "./LeftSide.astro";
---
<header class="absolute top-0 left-0 w-full  ">
    <div class="container">
        <nav class="d-flex align-items-center justify-between py-8">
            <LeftSide/>
            <RightSide/>
        </nav>
    </div>
</header>